<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HR Employees</title>
</head>
<body>
    <table>
        <thead>
            <th>Surname</th>
            <th>Givenname</th>
            <th>Department</th>
        </thead>
        <tbody>
            <tr th:each="emp : ${employees}">
                <td th:text="${emp.lastName}">King</td>
                <td th:text="${emp.firstName}">Steven</td>
                <td th:text="${emp.department != null} ? ${emp.department.name} : 'no department assigned'">Sales</td>
            </tr>
        </tbody>
    </table>
</body>
</html>